<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <ul class="list-group">
        <li class="list-group-item"><b>
          Forms
        </b></li>
        <li [routerLink]="['/sql-form']" class="list-group-item">sql-form</li>
        <li [routerLink]="['/sql-upload-form-example']" class="list-group-item">sql-upload-form</li>
        <li [routerLink]="['/sql-panel-example/1/2/3']" class="list-group-item">sql-input</li>
        <li [routerLink]="['/sql-textarea']"  class="list-group-item">sql-textarea</li>
        <li [routerLink]="['/sql-radio-group']"  class="list-group-item">sql-radio-group</li>
        <li [routerLink]="['/sql-select']"  class="list-group-item">sql-select</li>
        <li [routerLink]="['/sql-datepicker']"  class="list-group-item">sql-datepicker</li>
        <li class="list-group-item">sql-submit</li>
        <li class="list-group-item"><b>
          Table
        </b></li>
        <li [routerLink]="['/sql-table-example/1/2/3']" class="list-group-item">sql-table</li>
        <li class="list-group-item">sql-edit-table</li>
        <li class="list-group-item"><b>
          Layout
        </b></li>
        <li class="list-group-item">sql-panel</li>
        <li class="list-group-item">sql-card</li>
        <li class="list-group-item">sql-preview</li>
      </ul>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
